<div class="container">
    <div class="row mt-30">
        <h1 class="title center-align">Dernier Publication</h1>
        
        {{#each dbArticleReverseLast}}
        <div class="col s12 m6  offset-m3 mt-20 ">
            <div class="card">
                <div class="card-image">
                    <img src="{{cover}}">
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-content truncate">
                    <p>{{content}}</p>
                </div>
                <div class="card-action">
                    <a href="/VerifArticle/{{_id}}">ecrit par {{author}}</a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
    <div class="row mt-30">

        <h1 class="title">Autre Publication a validé</h1>
        

        {{#each dbArticleReverse}}
        <div class="col s12 m6 mt-20 mb-20">
            <div class="card">
                <div class="card-image">
                    <img src="{{cover}}">
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-content truncate">
                    <p>{{content}}</p>
                </div>
                <div class="card-action">
                    <a href="/VerifArticle/{{_id}}">ecrit par {{author}}</a>
                </div>
            </div>
        </div>
        {{/each}}
        

    </div>
</div>