
<form action="monCompte" method="POST" enctype="multipart/form-data">
  

      <div class="col s12 center-align">
       
        <p>{{passwordNotSame}}<br>{{registerPwdErr}}<br>{{emailNotUnique}}</p>

        <div class="row">
          <div class="input-field col s12">
            <input id="PseaudoMonCompte" type="text" class="validate " name="username" >
            <label for="PseaudoMonCompte">{{dbUser.username}}</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="emailMonCompte" type="email" class="validate" name="email" >
            <label for="emailMonCompte">{{dbUser.email}}</label>
          </div>
        </div>
      </div>


      <div class="col s12">
        <div class="file-field input-field">
          <div class="btn">
            <span>Avatar</span>
            <input type="file" name="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>



    
    <a href="#modalMpdNodemailer" class="modal-trigger waves-effect waves-green btn left ml-11">Modifier Le Mot de passe</a>
    <button name="moncompte" value="moncompte" type="submit" class="mr-11 waves-effect waves-green waves-light btn right">enregister les modifications</button>
    
{{>modal/modalMpdNodemailer}}
</form>