{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">create</a> --}}


<!-- Modal Create -->
<form action="monCompte/update" method="POST" enctype="multipart/form-data">
  <div id="modalCompte{{dbUser._id}}" class="modal modal-fixed-footer">

    <div class="modal-content">

      <div class="col s12 center-align">
        <h2 class="title">Mon Compte</h2>
        {{!-- <p>{{passwordNotSame}}<br>{{registerPwdErr}}<br>{{emailNotUnique}}</p> --}}
      </div>

{{#if isVerified}}
      <div class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <input id="PseaudoMonCompte" type="text" class="validate " name="username" required>
            <label for="PseaudoMonCompte">{{dbUser.username}}</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="emailMonCompte" type="email" class="validate " name="email" required>
            <label for="emailMonCompte">{{dbUser.email}}</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <input id="passwordMonCompte" type="password" class="validate" name="password" required>
            <label for="passwordMonCompte">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="passwordVerifMonCompte" type="password" class="validate" name="passwordVerif" required>
            <label for="passwordVerifMonCompte">retaper votre password</label>
          </div>
        </div>


        <div class="file-field input-field">
          <div class="btn">
            <span>Avatar</span>
            <input type="file" name="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>


      </div>
{{else}}
        <h2 class="title">Vous n'est pas verifier </h2>
  
    <button type="submit" name="verifmail" value="verifmail"> verifier mon mail</button>  

{{/if}}
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn left">Close</a>
      <button name="moncompte" value="moncompte" type="submit" class="modal-close waves-effect waves-light btn">S'inscrire</button>
    </div>


  </div>
</form>