<form action="user/logout" method="POST">
    <ul id="slide-out" class="sidenav">
        {{#if user}}
        <li>
            <div class="user-view">
                <div style="float:right; font-size:25px"><a href="#modalCompte{{dbUser._id}}"
                        class="white-text modal-trigger"><i class="fas fa-cog"></i></a></div>

                <div class="background">
                    <img src="{{dbUser.avatarImg}}" width="100%" height="100%">
                </div>
                <a href="#user"><img class="circle" src="{{dbUser.avatarImg}}"></a>
                <a href="#name"><span class="white-text name">{{dbUser.username}}</span></a>
                <a href="#email"><span class="white-text email">{{dbUser.email}}</span></a>

            </div>
        </li>
        {{#if isAdmin}}
        <li><a class="waves-effect waves-light btn modal-trigger" href="/admin">Administration</a></li>
        {{else}}
        {{/if}}

        <li>
            <a class="waves-effect mb-3 waves-light dropdown-trigger btn" href='#'
                data-target='dropdown{{dbUser._id}}'>Mes like</a>
        </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">Crée un article</a>
        </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modalVerif">article a verifier</a>
        </li>

        <li><a class="waves-effect waves-light btn modal-trigger" href="#modalContact">nous-Contactez</a></li>

        <li>
            <button type="submit" class="waves-effect waves-light btn modal-trigger"
                style="bottom: 8%; position:absolute;">Deconnection</button>
        </li>

        {{else}}

        <li><a class="waves-effect waves-light btn modal-trigger" href="#modalInscription">m'inscrire</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modalLogin">Ce connecter</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modalContact">nous-Contactez</a></li>

        {{/if}}
    </ul>
</form>


{{>modal/modalInscription}}
{{>modal/modalCreate}}
{{>modal/modalLogin}}
{{>modal/modalContact}}
{{>modal/modalCompte}}
{{>modal/modalVerif}}
{{>dropdown/dropLike}}