<a class="waves-effect waves-light btn modal-trigger" href="#modalUpdate">Update</a>



<div id="modalUpdate" class="modal">

  <div class="modal-content">
    <div class="col s12">

      <div class="row">
        <h2>Editer un article</h2>
      </div>

      {{#each dbArticle}}
      <form action="article/update/{{_id}}" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="card brown lighten-2 hoverable">

            <div class="card-image">

              <img src="{{img}}">

            </div>
            <div class="card-content ">
              <div class="row">

                <div class="input-field col s12">
                  <label for="titleArticle">Titre De L'article</label>
                  <input id="titleArticle" type="text" name="title" value="{{title}}">
                </div>

                <div class="input-field col s12">
                  <label for="textarea1">Textarea</label>
                  <textarea id="textarea1" class="materialize-textarea" name="content">{{content}}</textarea>
                </div>

                <div class="input-field col s12">
                  <label for="titleArticle">author</label>
                  <input id="titleArticle" type="text" name="author" value="{{author}}">
                </div>
              </div>
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file" name="img">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>

            </div>

            <div class="card-action">
              <button class="waves-effect waves-light btn teal lighten-1" type="submit">Envoyer <i
                  class="far fa-paper-plane"></i></button>
            </div>

          </div>
        </div>
      </form>
      {{/each}}

    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="modal-close waves-effect waves-light btn teal lighten-1">Agree</button>
  </div>

</div>