

{{#if emailUErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email n\'a pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if emailU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if usernameErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre pseaudo n\'a pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if usernameU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre pseaudo a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}


{{#if usernameEmailErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} vaux pseaudo et email n\'on pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if usernameEmailU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} vaux pseaudo et email on eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}


{{#if fileErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre photo n\'a pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if fileU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre photo a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}


{{#if fileEmailErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email et photo n\'a pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if fileEmailU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email et photo a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}



{{#if fileUsernameErr}}deco
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre pseaudo et photo n\'a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if fileUsernameU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre pseaudo photo a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if fileUsernameEmailErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email pseaudo et photo n\'a pas eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if fileUsernameEmailU}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>{{dbUser.username}} votre email pseaudo et photo a eté mise à jour</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if dejaVerif}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>vous avez deja verifier cette article</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}
{{!--------------------------------- user -------------------------------- --}}

{{#if login}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> bienvenue {{dbUser.username}}</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if verifOk}}
<script>
    window.onload = function login() {
        var toastHTML = '<span> bienvenue {{dbUser.username}} votre compte et verifier</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if mdwVerif}}
<script>
    window.onload = function login() {
        var toastHTML = '<span> votre compt n\'est pas verifier</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if inscription}}
<script>

    window.onload = function login() {
        var toastHTML = '<span> votre compte à eté crée. Un email de verification vous a etez envoyer</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}

{{#if mdpOublierC}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>un email pour changer votre mdp vous a été envoyer</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}


{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}
{{!--------------------------------- Article -------------------------------- --}}


{{#if ArticleErr}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>erreur lors de la creation d\'article</span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}

{{#if ArticleC}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>Article créé</span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}

{{#if addVerifPost}}
<script>
    window.onload = function login() {
        var toastHTML = '<span>bravo l\'article a assez de verif</span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}

{{#if ArticleU}}
<script>
    window.onload = function login() {
        var toastHTML = '<span>l\'article a bien été modifier</span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}
{{#if ArticleVerifU}}
<script>
    window.onload = function login() {
        var toastHTML = '<span>l\'article Verifier a bien été modifier </span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}
{{#if comDel}}
<script>
    window.onload = function login() {
        var toastHTML = '<span> le commentaire et supprimer </span>';
        M.toast({ html: toastHTML});
    }
</script>
{{/if}}
{{#if signaleC}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>signalement envoyer</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if signaleDel}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>signalement supprimer</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}
{{#if contactDel}}
<script>

    window.onload = function login() {
        var toastHTML = '<span>message supprimer</span>';
        M.toast({ html: toastHTML });
    }
</script>
{{/if}}




