<div class="mt-30 center-align"><span class="title">Liste Utilisateur</span></div>

<div class="row s12 m12 mt-30">
    <div class="card ">
        <div class="card-content ">
            <table class="responsive-table">
                <thead>
                    <tr class="none" id="none">
                        <th>Id</th>
                        <th>Pseaudo</th>
                        <th>Date de creation</th>
                        <th>Dernier activiter</th>
                        <th>Verifier</th>
                        <th>role</th>
                        <th>status</th>
                        <th>edit</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each dbUser}}

                    <tr id="{{status}}" class="{{role}} {{isVerified}}">
                        <td name="id">{{_id}}</td>
                        <td>{{username}}</td>
                        <td>12/14/123</td>
                        <td>12/14/123</td>
                        <td>{{isVerified}}</td>
                        <td>{{role}}</td>
                        <td class="spanstatus">
                            <span class="chip green lighten-5">
                                <span class="green-text ">{{status}}</span>
                            </span>
                        </td>

                        <form action="/admin/list/user/{{_id}}" method="post">
                            <td><button class="btn-flat" name="edit" value="edit" type="submit"><i
                                        class="fas fa-pen"></i></button></td>
                        </form>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>




