
<div class="container">

{{#each dbArticleVerif}}


<div class="parallax-container">

    <div class="parallax">
        <img src="{{img}}" alt="clavier Mécanique">
    </div>
    
</div>

<form action="/like/create/{{_id}}" method="POST">
    <ul class="collapsible">
        <li>

            <div class="collapsible-header">
                <div>
                    <span class="title">{{title}}</span>
                    <p>{{content}}</p>
                    <a class="circle right addCom">Voir les commentaires<i
                            class="fas fa-chevron-circle-down ml-5"></i></a>
                </div>
            </div>

            <div class="collapsible-body">
                <span class="title">Commentaire</span>
                <ul class="collection">
                    {{#each commentaire}}
                    <li class="collection-item avatar">
                        <img src="{{avatarImg}}" class="circle" alt=" clavier mecanique">
                        <span class="title">{{username}}<span class="date"> le {{dateLe}} a {{dateA}}</span></span>
                        <p>
                            <i class="fas fa-quote-left"></i>
                            {{content}}
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="colorannex " style=" height:50px; ">
                <a class="left author ml-15 mt-5 mb-5">{{author}}</a>
                <div class=" right-align">
                    <a href="#modalCom{{_id}}" class="modal-trigger addCom btn-flat mt-10 ">
                        {{#com this}}{{/com}}<i class="far fa-comment ml-5 mr-5" style="font-size: 25px;"></i>
                    </a>
                    <button class="addCom btn-flat mt-10 mr-10" type="submit">
                        {{#like this}}{{/like}}<i class="far fa-heart ml-1  " style="font-size: 25px;"></i>
                    </button>
                </div>
            </div>

        </li>
    </ul>
</form>
{{>modal/modalAddCommentaire}}

{{/each}}

</div>