{{#each dbArticle}}

<div class="parallax-container">
    <div class="parallax">
        <img src="{{img}}" alt="clavier Mécanique">
    </div>
</div>


<ul class="collapsible">
    <li>

        <div class="collapsible-header">
            <div class="row">
                <span class="title">{{title}}</span>
                <p>{{content}}</p>
                <a class="circle right">Voir les commentaires<i class="fas fa-chevron-circle-down ml-5"></i></a>
            </div>
        </div>

        <div class="collapsible-body">
            <span class="title">Commentaire</span>
            {{>dropdown/collapseCom}}
        </div>

        <div class="colorannex " style=" height:50px; ">
            <a class="left-align author">{{author}}</a>
            <div class="" style="">
                <a>
                    <i class="far fa-heart " style="font-size: 25px;">12</i>
                </a>
                <a href="#modal{{_id}}" class="modal-trigger">
                    <i class="far fa-comment" style="font-size: 25px;">22</i>
                </a>
            </div>


            
            {{>modal/modalAddCommentaire}}
        </div>

    </li>
</ul>



{{/each}}