<div class="row mt-30 mr-30">
    <div class="col s12 m12">
        <div class="card ">
            <div class="card-content ">
                <span class="card-title">Liste des Contacts </span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>


    <div class="col s12">
        <ul class="collection">
            {{#each dbContact}}
            <form action="/admin/delete/contact/{{_id}}" method="POST">

                <li class="collection-item avatar">
                    <span class="mt-10 mb-10"> Envoyer a : {{destinataire}}</span>
                    <br>
                    <span class="mt-10 mb-10"> DE : {{email}}</span>
                    <br>
                    <span class="date"> le {{dateLe}} a{{dateA}}</span>
                    <br>
                    <span class="date"> Sujet: {{sujet}}</span>
                    <br>
                    <p>
                        <i class="fas fa-quote-left"></i>
                        {{content}}
                        <i class="fas fa-quote-right"></i>
                    </p>
                    <button type="submit" class="btn">Supprimer</button>
                </li>

            </form>

            {{/each}}
        </ul>
    </div>


</div>