
{{!-- side bar --}}
    <ul id="slide-out" class="sidenav ">
        {{#if user}}
        <li>
            <div class="user-view">
                <div style="float:right; font-size:25px"><a href="/monCompte"
                        class="annex-text modal-trigger"><i class="fas fa-cog"></i></a></div>

                <div class="background">
                    <img src="{{dbUser.cover}}" width="100%" height="100%">
                </div>
                <a><img class="circle" src="{{dbUser.avatarImg}}"></a>
                <a href="#name"><span class="white-text name">{{dbUser.username}}</span></a>
                <a href="#email"><span class="white-text email">{{dbUser.email}}</span></a>
            </div>
        </li>
        {{#if isAdmin}}
        <li><a class="waves-effect waves-light btn modal-trigger" href="/admin">Administration</a></li>
        {{else}}
        {{/if}}
        <li>
            <a class="waves-effect mb-3 waves-light dropdown-trigger btn" href='#'
                data-target='dropdown{{dbUser._id}}'>Mes like</a>
        </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modalCreate">Crée un article</a>
        </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="/listVerifArticle">Article a verifier</a>
        </li>
        <li>
		<a class="waves-effect waves-light btn hide-on-large-only" href="/">Accueil</a>
	</li>
        <li>
            <a href="/user/logout" class="waves-effect waves-light btn modal-trigger"
                style="bottom: 8%;">Déconnexion</a>
        </li>
        {{else}}
        <li><a class="waves-effect waves-light btn" href="/user/create">M'inscrire</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="/user/login">Se connecter</a></li>
        <li><a class="waves-effect waves-light btn hide-on-large-only" href="/">Acceuil</a></li>
        {{/if}}
    </ul>
    
{{>global/nav/dropLike}}
{{>modal/modalCreate}} 
{{>modal/modalContact}}



