<div class="container">

    <div class="row">
        <h2>List des Utilisateurs</h2>


        <ul class="collection">
            {{#each dbUser}}
            <li class="collection-item avatar">
                <img src="{{img}}" alt="" class="circle">
                <span class="title">{{username}}</span>
                <p>First Line <br>
                    Second Line
                </p>

                <a class="btn  modal-trigger  red darken-1 secondary-content1" href="#modalUserEdit{{_id}}">
                    <i class=" material-icons">mode_edit</i>
                </a>

                <form action="User/update/{{this._id}}" method="POST">
                    <div id="modalUserEdit{{_id}}" class="modal modal-fixed-footer">
                        <div class="modal-content center-align">
                            <h2>Droit de l'utilisateur</h2>
                           
                                <div class="input-field col s12">
                                    <select  name="status">
                                        <option value="{{status}}">choisiser ...</option>
                                        <option value='visiteur'>visiteur</option>
                                        <option value='visiteur'>user</option>
                                        <option value='visiteur'>acheteur</option>
                                    </select>                                    
                                    <label for="Status">Status</label>

                                </div>

                                <div class="input-field col s12">
                                    <select name="isAdmin">
                                        <option value="{{isAdmin}}">choisiser ...</option>
                                        <option value="false">false</option>
                                        <option value="true">true</option>
                                    </select>                                    
                                    <label for="IsAdmin">IsAdmin</label>

                                </div>

                                <div class="input-field col s12">
                                    <select name="isVerified">
                                        <option value="{{isVerified}}">choisiser ...</option>
                                        <option value="false">false</option>
                                        <option value="true">true</option>
                                    </select>                                    
                                    <label for="IsVerified">IsVerified</label>

                                </div>

                                <div class="input-field col s12">
                                    <select name="isBan">
                                        <option value="{{isBan}}">choisiser ...</option>
                                        <option value="false">false</option>
                                        <option value="true">true</option>
                                    </select>                                    
                                    <label for="IsBan">IsBan</label>

                                </div>

                           
                        </div>

                        <div class="modal-footer">                            
                            <button type="submit" class="modal-close waves-effect waves-light btn red ">supprimer l'utilisateur</button>
                            <button type="submit" class="modal-close waves-effect waves-light btn teal lighten-1">Agree</button>
                        </div>

                    </div>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
</div>