

    <div class="row">

        <h2>List des Article</h2>

        <ul class="collection ">
            {{#each dbArticleVerif}}
            <li class="collection-item avatar" style="min-height: 150px;">

                <form action="article/delete/{{_id}}" method="POST">
                    <img src="{{cover}}" alt="" class="circle">
                    <span class="title">{{title}}</span>
                    <p style="margin-top: 5px;">{{content}}</p><br>
                    <p>publié par {{author}}</p>
                    <p>Publié le {{moment createDate format = "DD-MM-YYYY"}} a {{moment createDate format = "hh:mm"}}
                    </p>
                    <button class="waves-effect waves-light btn  red darken-1 secondary-content1" type="submit">
                        <i class="material-icons fas fa-trash-alt"></i>
                    </button>
                    <a class="btn  modal-trigger  red darken-1 secondary-content2" href="#modalUpdate{{_id}}">
                        <i class=" material-icons">mode_edit</i>
                    </a>
                </form>

                {{!------------------------------ modal ---------------------------------------------------------}}
                <form action="article/update/{{this._id}}" method="POST" enctype="multipart/form-data">
                    <div id="modalUpdate{{_id}}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <div class="col s12">
                                <div class="row">
                                    <div class="card">

                                        <div class="card-image">
                                            <img src="{{img}}">
                                        </div>

                                        <div class="card-content ">
                                            <div class="row">

                                                <div class="input-field col s12">
                                                    <label for="titleArticle">Titre De L'article</label>
                                                    <input id="titleArticle" type="text" name="title" value="{{title}}">
                                                </div>

                                                <div class="input-field col s12">
                                                    <label for="textarea1">Textarea</label>
                                                    <textarea id="textarea1" class="materialize-textarea"
                                                        name="content">{{content}}</textarea>
                                                </div>

                                                <div class="input-field col s12">
                                                    <label for="titleArticle">author</label>
                                                    <input id="titleArticle" type="text" name="author"
                                                        value="{{author}}">
                                                </div>
                                            </div>

                                            <div class="file-field input-field">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input type="file" name="img">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="card-action">
                                            <button class="waves-effect waves-light btn teal lighten-1"
                                                type="submit" >Envoyer <i class="far fa-paper-plane"></i></button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit"
                                class="modal-close waves-effect waves-light btn teal lighten-1">Agree</button>
                        </div>

                    </div>
                </form>

            </li>

            {{/each}}

        </ul>

    </div>

